<div>
  <% @games.each do |game| %>

    <%= link_to game do %>
      <div class=<%= listing_class(game) %>>

      <% if game.running? %>
        <div class="masked-word">
          <span>
            <%= masked_word(game) %>
          </span>
        </div>
      <% else %>
        <div class="mystery-word">
          <span>
            The word was: <%= game.mystery_word.capitalize %>
          </span>
        </div>
      <% end %>

      <div class="lives">
        <span>
          Lives left: <%= game.lives %>
        </span>
      </div>

      </div>
    <% end %>
  <% end %>
</div>
