<!DOCTYPE html>
<html>
  <head>
    <title>HangmanRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="title">
      <a href="/">
        <h1>Hangman</h1>
      </a>
    </div>
    <!-- <%= audio_tag("red-bing.mp3", autoplay: true) %> -->
    <%= yield %>
  </body>
</html>
